body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea2027;
}

h1 {
  color: #fff;
  font-size: 50px;
}

span:before {
  content: "";
  text-transform: uppercase;
  font-family: arial;
  color: #181464;
  animation: word-switch 6s infinite;
}

@keyframes word-switch {
  0% {
    content: "transitions";
  }

  50% {
    content: "animations";
  }

  100% {
    content: "transforms";
  }
}
