body {
  margin: 0;
  padding: 0;
}

.background {
  margin: auto;
  width: 80vw;
  height: 80vh;
  border: 5px solid #000;
  background: url(img/bg.jpg);
  background-position: bottom left;
}

.car {
  position: absolute;
  left: 20%;
  top: 70%;
  width: 100px;
}

.motorbike {
  position: absolute;
  left: 45%;
  top: 60%;
  width: 100px;
}

.background:hover {
  animation: driving 15s linear infinite;
}

@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
