.container {
  display: flex;
  flex-direction: column;
}

.move {
  width: 180px;
  height: 120px;
  text-align: center;
  background-color: #ff005f;
  color: #fff;
  font-size: 2rem;
  margin: 5px;
  cursor: pointer;
  transition-property: translate();
  transition-duration: 3s;
}

.move:hover {
  transform: translate(1000px, 0);
}

#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}

#ease-in {
  transition-timing-function: ease-in;
}

#ease-out {
  transition-timing-function: ease-out;
}

#ease-in-out {
  transition-timing-function: ease-in-out;
}
